main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    float: left;
    width: 100%;
    margin-top: 60%;
    text-align: center;
}

main #code-wrap, main #name-wrap{    
    width: 90%;
    margin-top: 5%;

    border-radius: 25px;
    background-color: #e0ff00;
}

main #code-wrap h2, main #name-wrap h2{
    margin: 10% 0 5%;

    font-size: 18px;
    color: black;
}

main #code-wrap #code, main #name-wrap #name{  
    width: 80%;
    height: 40px;  
    margin: 0 0 10%;
    border: none;
    border-radius: 50px;

    text-align: center;
}

main #code-wrap #b-code, main #name-wrap #b-next{
    width: 40px;    
    height: 40px;
    border: none;
    border-radius: 50%;
}

footer{
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    text-align: center;
}

footer img{
    width: 50%;
    margin-bottom: 5%;
}

@media screen and (min-width: 500px) 
{

    main{
        margin: 35% 0;        
    }   
    
    footer img{
        width: 40%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1000px) 
{

    main{
        margin: 25% 0;        
    }   
    
    footer img{
        width: 20%;
    }
}

@media screen and (min-width: 1200px) 
{

    main{
        margin: 18% 0;        
    }   
}

@media screen and (min-width: 1400px) 
{
    main{
        margin: 10% 0;        
    }   
}